.show-on-scroll {
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s linear;
  will-change: transform;
  &.is-visible {
    transition: all 1s 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
  }
  &.slide-up {
    transform: translateY(3em);
    &.is-visible {
      transform: translateY(0);
    }
  }
  &.slide-down {
    transform: translateY(-3em);
    &.is-visible {
      transform: translateY(0);
    }
  }
  &.slide-left {
    transform: translateX(3em);
    &.is-visible {
      transform: translateX(0);
    }
  }
  &.slide-right {
    transform: translateX(-3em);
    &.is-visible {
      transform: translateX(0);
    }
  }
  &.zoom-in {
    transform: scale(0.3);
    &.is-visible {
      transform: scale(1);
    }
  }
}
