// Custom icon font variables.
$custom-icon-font-family: "custom-icons";
$custom-icon-font-path: "../../site_theme/fonts";

$custom-maps: unquote('"\\e900"');
$custom-registry-search: unquote('"\\e901"');
$custom-proposal-doc: unquote('"\\e902"');
$custom-process: unquote('"\\e903"');

@font-face {
  font-family: '#{$custom-icon-font-family}';
  src:
    url('#{$custom-icon-font-path}/#{$custom-icon-font-family}.ttf?m35rvs') format('truetype'),
    url('#{$custom-icon-font-path}/#{$custom-icon-font-family}.woff?m35rvs') format('woff'),
    url('#{$custom-icon-font-path}/#{$custom-icon-font-family}.svg?m35rvs##{$custom-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.custom-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$custom-icon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-maps {
  &:before {
    content: $custom-maps;
  }
}
.custom-registry-search {
  &:before {
    content: $custom-registry-search;
  }
}
.custom-proposal-doc {
  &:before {
    content: $custom-proposal-doc;
  }
}
.custom-process {
  &:before {
    content: $custom-process;
  }
}
