.horizontal-tabs .horizontal-tab-button .required-mark {
  // We do not need to display a required mark inside an element with the
  // .form-required class, as the .form-required class will display the
  // mark thus resulting in a double display, which is not needed.
  display: none !important;
}

.field--name-field-social-media-icon,
.field--name-field-icon,
.field--name-field-cta-icon {
  .form-radios {
    .form-item {
      float: left;
      margin: 10px;
      position: relative;
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        &.option {
          box-shadow: 0 0 0 5px transparent;
          transition: box-shadow 0.2s;
        }
        i {
          display: block;
          font-size: 3rem;
          margin-bottom: 5px;
        }
        img {
          display: block;
          margin: 0 auto 5px;
          height: 48px;
          width: auto;
        }
      }
      &:hover label.option {
        box-shadow: 0 0 0 5px #555555;
      }
      input:checked ~ label.option {
        box-shadow: 0 0 0 5px #0071b8;
      }
    }
  }
}

.paragraph--view-mode--preview {
  padding-right: 0;
}

.js .paragraph-top {
  -ms-grid-columns: auto auto auto !important;
      grid-template-columns: auto auto auto !important;
}

@media (min-width: 992px) {
  .js .paragraph-top {
    -ms-grid-columns: auto auto auto !important;
        grid-template-columns: auto auto auto !important;
  }
}

.select2-search--inline,
.select2-search--inline input {
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--classic .select2-selection--single:focus,
.select2-container--classic .select2-selection--multiple:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus);
}

// Apply gin styling to the choices.js dropdown widget.
.choices {
  box-sizing: border-box;
  overflow: visible;
  * {
    box-sizing: border-box;
  }
  &[data-type*=select-one] .choices__button {
    opacity: 0.8;
  }
  .choices__inner {
    border-radius: var(--gin-border-m);
    overflow: visible;
  }
  .choices__list--dropdown {
    border-bottom-left-radius: var(--gin-border-m);
    border-bottom-right-radius: var(--gin-border-m);
    padding: 0 !important;
  }
  .choices__inner,
  .choices__list--dropdown {
    color: var(--gin-color-text);
    line-height: var(--input-line-height);
    padding: calc(var(--input-padding-vertical) - 1px) var(--input-padding-horizontal);
    min-height: calc(var(--input-padding-vertical) * 2 + var(--input-line-height));
    font-size: var(--input-font-size);
    background: var(--gin-bg-input);
    border: 1px solid var(--gin-border-color-form-element);
  }
  &.is-open,
  &.is-open .choices__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .choices__input:focus {
    box-shadow: none;
  }
  &.is-open .choices__list--dropdown {
    border-color: var(--gin-border-color-form-element);
  }
  &:hover {
    .choices__inner, .choices__list--dropdown {
      border-color: var(--gin-color-text);
      box-shadow: inset 0 0 0 1px var(--gin-color-text);
    }
  }
  &:focus, &.is-open:focus, &.is-focused {
    outline: none;
    box-shadow: none !important;
    .choices__inner {
      outline: none;
      box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus);
    }
  }
  .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    font-size: var(--input-font-size);
    color: var(--gin-color-text);
    background-color: var(--gin-bg-input);
    &.choices__placeholder {
      opacity: 1;
    }
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--gin-color-primary);
    color: var(--gin-color-button-text);
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
    opacity: 0.8;
  }
}

.item-list ul.paragraphs-add-dialog-list {
  list-style: none !important;
  li {
    list-style: none !important;
  }
}

.path-frontend-editing {
  .paragraph-form {
    .layout-region-node-secondary {
      display: none !important;
    }
  }
}
