{#
/**
 * @file
 * Template for large icon cta link text.
 *
 * @see kci_preprocess_field() for field_icon_cta_link.
 *
 * Additional templates you can use:
 * - large-icon-cta-link-text--[paragraph-view-mode].html.twig
 * - large-icon-cta-link-text--[paragraph-bundle].html.twig
 * - large-icon-cta-link-text--[paragraph-bundle]--[paragraph-view-mode].html.twig
 *
 * Available variables:
 * - icon: The icon.
 * - description: A longer description for the CTA.
 * - text: The link text.
 * - paragraph: The paragraph entity.
 * - view_mode: The paragraph view mode.
 */
#}
  {% if description %}
    <span class="small-card-description">
      {{ description }}
    </span>
  {% endif %}
