// Site feedback form styles.
.form-item-was-this-page-helpful {
  position: relative;
  padding-left: 0;
}

.yes-no-trigger-wrapper {
  input.form-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    right: 0;

  }

  label.form-check-label {
    cursor: pointer;
  }

  .fa-thumbs-down {
    //Mirrored
    transform: scaleX(-1);
  }

  .selected {
    color: $form-feedback-selected-option-color;
  }
}

.modal {
  .btn-close {
    z-index: 10;
  }
}

// image styles.
.no-thumbnail {
  width: 100%;
  background: $gray-500;
  color: $black;

  &.image-style-board-member-thumbnail {
    aspect-ratio: 1 / 1;
  }
}

// Effects.
.zoom-in {
  transition: $standard-transition;

  &:hover {
    transform: scale(1.05);
  }
}

.sidebar-item-wrapper {
  background-color: $side-nav-bg-active-color;

  &:hover {
    background-color: $side-nav-bg-color;
    box-shadow: 0 0 0 2px $gray-800;
  }
}
