// Site feedback form styles.
.form-item-was-this-page-helpful {
  position: relative;
  padding-left: 0;
}

.yes-no-trigger-wrapper {
  input.form-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    right: 0;

  }

  label.form-check-label {
    cursor: pointer;
  }

  .fa-thumbs-down {
    //Mirrored
    transform: scaleX(-1);
  }

  .selected {
    color: $form-feedback-selected-option-color;
  }
}

.modal {
  .btn-close {
    z-index: 10;
  }
}

// image styles.
.no-thumbnail {
  width: 100%;
  background: $gray-500;
  color: $black;

  &.image-style-board-member-thumbnail {
    aspect-ratio: 1 / 1;
  }
}

// Effects.
.zoom-in {
  transition: $standard-transition;

  &:hover {
    transform: scale(1.05);
  }
}

.sidebar-item-wrapper {
  background-color: $side-nav-bg-active-color;

  &:hover {
    background-color: $side-nav-bg-color;
    box-shadow: 0 0 0 2px $gray-800;
  }
}

.views-field-field-related-content {
  a {
    @extend .sidebar-item-wrapper;
    border-radius: $border-radius-lg;
    padding: 1rem;
    display: block;
  }
}

// Paragraphs styles.

.paragraph--type--slideshow-with-caption {
  #media-slideshow-with-captions {
    .slideshow-caption {
      top: unset;
      bottom: 0;
    }

    button.carousel-control {
      width: unset;
    }
  }
}

.paragraph--type--large-icon-ctas {
  .paragraph--type--large-icon-cta {
    .large-icon-cta-link {
      @include font-size($large-icon-cta-font-size);
      transition: all 0.2s ease-in-out;

      &:link,
      &:focus,
      &:active,
      &:visited,
      &:hover {
        text-decoration: none;
      }

      .icon {
        line-height: normal;
        @include font-size($large-icon-cta-icon-size);
      }

      .description {
        @include font-size($large-icon-cta-description-size);
      }

      span.action-text {
        text-decoration: underline;
      }
    }
  }

  .paragraph--type--large-icon-cta {
    .large-icon-cta-link {
      box-shadow: $grid-block-box-shadow;

      &:link,
      &:focus,
      &:active,
      &:visited {
        color: $large-icon-cta-color;
        background-color: $large-icon-cta-bg;
      }

      &:hover {
        color: $large-icon-cta-hover-color;
        background-color: $large-icon-cta-hover-bg;
        box-shadow: $grid-block-hover-box-shadow;
      }
    }
  }
}

.highlighted-panel--heading {

  @include media-breakpoint-up(lg) {
    aspect-ratio: 3 / 2;
  }
}

//Footer styles
.site-footer {
  padding: 0;

  .region-footer-first {
    .field--name-field-headline {
      color: $primary-shade;
    }
  }

  .footer-second-wrapper {
    background-image: $footer-bg-image-mobile;
    background-size: contain;
    background-position: center;
    padding: $footer-bg-padding;

    @include media-breakpoint-up(md) {
      background-image: $footer-bg-image;
    }

    .block-block-groupfooter-second-group {
      >.content {
        @include media-breakpoint-up(md) {
          display: flex;
          align-items: center;

          #block-site-theme-copyright {
            margin-left: 1.5rem;
          }
        }

        #block-site-theme-copyright {
          p {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}
