// Put typography overrides here.
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-roboto-slab: 'Roboto Slab', serif;

$font-family-base: $font-family-open-sans;
$font-family-headings: $font-family-roboto-slab;
