.accordion-item {
  border: none;
  margin-bottom: $accordion-item-vertical-gutter;
  @include all_headings {
    &.accordion-header {
      margin-bottom: 0;
    }
  }
  .accordion-button {
    &::after {
      padding: $accordion-icon-padding;
      border-radius: $accordion-icon-bg-radius;
      background-color: $accordion-icon-bg;
      background-position: center center;
    }
    &:hover {
      &.collapsed {
        background-color: $accordion-button-hover-bg;
        color: $accordion-button-hover-color;
      }
    }
    &:not(.collapsed) {
      box-shadow: none;
      &::after {
        background-color: $accordion-icon-active-bg;
      }
    }
    font-weight: $accordion-button-font-weight;
  }
  .accordion-body {
    border: $accordion-border-width solid $accordion-button-active-bg;
    border-top: none;
  }
}
