//variables

$cell-color-today: $gray-500;

.js-drupal-fullcalendar {
  .fc-toolbar {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      height: 200px;
    }
    // .fc-button {
    //   &.fc-button-primary:not(:disabled) {
    //     background-color: map-get($theme-colors , primary );
    //     border-color: $standard-btn-bg;
    //     &.fc-button-active, &:active, &:hover {
    //       background-color: $standard-btn-hoverbg;
    //       border-color: $standard-btn-hoverbg;
    //     }
    //   }
    // }

  }
}

.calendar-calendar {
  width: 100%;
}


// Event Card Style
.fc-event {
  border-radius: 5px;
  padding: 0.5rem 1px 1px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  outline: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  .fc-content {
    padding: 5px;
    border-radius: 0 0 4px 4px;
    white-space: normal !important;
    @include font-size(0.7rem);
    background: $body-bg;
    .fc-time {
      font-weight: bold;
      color: $link-color;
      &:after {
        content: " - ";
        display: inline;
        color: $link-color;
      }
    }
    .fc-title {
      background: $body-bg;
      font-weight: bold;
      color: $link-color;
    }
  }
  &:hover .fc-content .fc-time,
  &:hover .fc-content .fc-title {
    color: $link-hover-color;
  }
  &.fc-not-start {
    .fc-content {
      min-height: 44px;
      .fc-title {
        margin-top: 11px;
      }
    }
  }
  .fc-timeGridDay-view &,
  .fc-timeGridWeek-vew & {
    .fc-content {
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.view-events {
  .view-footer {
    #legend {
      padding-top: 2em;
    }
  }
}

.fc-left {
  margin-top: 2rem;
}
.calendar-calendar {
  .fullcalendar-bottom-btn.add-event-btn {
    position: absolute;
    top: 0;
  }
  .fc-head {
    .fc-day-header {
      background-color: $gray-400;
      padding: 1px;
    }
  }
  .fc .fc-row .fc-content-skeleton td {

    a.fc-day-number {
      text-align: center;
      padding: 10px 5px 0px !important;
      overflow: hidden;
      line-height: normal;
    }
    &.fc-other-month {
      background-color: #f4f4f4;
    }
    &.fc-today {
      a.fc-day-number {
        background-color: $cell-color-today;
        border: 1px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 10px 5px 0px !important;
        overflow: hidden;
        line-height: normal;
      }
    }
  }
  .fc-unthemed {
    td.fc-other-month {
      background-color: #f4f4f4;
      opacity: 0.3;
    }
    td.fc-today {
      background-color: white;
    }
  }
}

.fc-timeGridWeek-view {
  .fc-event {
    &.fc-time-grid-event  {
      .fc-content {
        &,.fc-title {
          height: 100%;
        }
      }
    }
  }
}

.fc-timeGridDay-view {
  .fc-time-grid {
    .fc-event {
      width: 25%;
      .fc-content {
        &, .fc-title {
          height: 100%;
        }
      }
    }
  }
}

.fc-time-grid,
.fc-time-grid-container,
.fc-scroller {
  height: auto !important;
}

.add-event-btn {
  margin-top: 1.5rem;
  a {
    @extend .btn;
    @extend .btn-primary;
  }
}
